<ul class="squares">
  <h1 class="squares__heading">Match all blue shapes!</h1>
  <div class="squares__container">
    <li class="squares__square" *ngFor="let s of squareService.squares">
      <app-square
        [color]="s.color"
        [selected]="s.selected"
        [id]="s.id">
      </app-square>
    </li>
  </div>
  <button class="squares__submit" (click)="squareService.check()">Check</button>
  <span class="squares__message" [ngClass]="squareService.checkResult">{{squareService.checkMessage}}</span>
</ul>
